.page-container {
    padding: 45px 40px 0px 40px;
}

.navbar {
    font-size: 1.6em;
}

.mid-text .h1 {
    font-size: 5em;
}

.mid-text .h2 {
    font-size: 1.8em;
}

.landing-footer {
    height: 100px;
    width: 100%;
    background-image: url("../img/curve.svg");
    background-size: auto;
    background-repeat: no-repeat;
}
